
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 100vh;
    line-height:22.5px;
    width: 403.003px;
    background-color: rgb(0, 0, 0);
    /* border-right: 1px solid rgb(47, 51, 54); */
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:row;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: rgb(62, 65, 68) rgb(22, 24, 28);
    position: relative;
    background-color: rgb(0, 0, 0);
    position: relative;
    /* justify-content: space-between; */
    
    
}
.post-tweet {
    display: block;
    width:600.398px;
    /* width:599.467px ; */
    /* align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0); */
    border-left: 1px solid rgb(47, 51, 54);height: 2337px;
    border-right: 1px solid rgb(47, 51, 54);height: 2337px;
    position: relative;
    
}
.trending {
    display: flex;
    flex-direction: column;
    width:600.398px;
    padding-top: 12px;
    margin-right: 10px;
    align-items: stretch;
    padding-left: 40px;
    padding-bottom: 64px;
    
}




/* nav-items*/
.home-menu {
    align-items: flex-start;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 674.75px;
    line-height: 22.5px;
    width: 275px;
    padding: 0px 8px;
    position: relative;
}
.home-logo{
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 51.9937px;
    line-height: 22.5px;
    width: 51.9937px;
    padding: 12px 0px;
    cursor: pointer;
    align-items: center;
}
.home-logo:hover {
    background-color: rgb(24, 24, 24);
    border-radius: 9999px;
}
.home{
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height:50.25px;
    line-height:22.5px;
    width: 143.375px;
    padding: 12px;
    cursor: pointer;  
}
.home-icon{
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 26.25px;
    line-height: 22.5px;
    width: 26.25px;
    tab-size: 4;
}
.home-icon svg {
    fill: rgb(231, 233, 234);
    height: 26.25px;
    width: 26.25px;
}
.home-title {
    display: block;
    direction: ltr;
    height: 24px;
    line-height: 24px;
    width: 57.125px;
    margin-left: 20px;
    margin-right: 16px;
    text-align: start;
    tab-size: 4;
    color: rgb(231, 233, 234);
    font-size: 20px;
    font-weight: 700;
}
.home:hover {
    background-color: rgb(24, 24, 24);
    border-radius: 9999px;
}
.explore {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height:50.25px;
    line-height: 22.5px;
    width:154.733px;
    padding: 12px;
    tab-size: 4;
    cursor: pointer;   
}
.explore-icon {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 26.25px;
    line-height: 22.5px;
    width: 26.25px;
    tab-size: 4; 
}
.explore-icon svg {
    fill: rgb(231, 233, 234);
    height: 26.25px;
    width: 26.25px;
}
.explore-title {
    display: block;
    direction: ltr;
    height: 24px;
    line-height: 24px;
    width: 68.4833px;
    margin-left: 20px;
    margin-right: 16px;
    text-align: start;
    tab-size: 4;
    color: rgb(231, 233, 234);
    font-size: 20px;
    font-weight: 400;
}
.explore:hover {
    background-color: rgb(24, 24, 24);
    border-radius: 9999px;
}
.notifications {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 50.25px;
    line-height: 22.5px;
    width: 205.092px;
    padding: 12px;
    tab-size: 4;
    cursor: pointer;
}
.notifications-icon svg {
    fill: rgb(231, 233, 234);
    height: 26.25px;
    width: 26.25px;
}
.notifications-title {
    display: block;
    direction: ltr;
    height: 24px;
    line-height: 24px;
    width: 118.842px;
    margin-left: 20px;
    margin-right: 16px;
    text-align: start;
    tab-size: 4;
    color: rgb(231, 233, 234);
    font-size: 20px;
    font-weight: 400;
}
.notifications:hover {
    background-color: rgb(24, 24, 24);
    border-radius: 9999px;
}
.messages{
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 50.25px;
    line-height: 22.5px;
    width: 178.175px;
    padding: 12px;
    tab-size: 4;
    cursor: pointer;
}
.messages-icon{
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 26.25px;
    line-height: 22.5px;
    width: 26.25px;
    tab-size: 4; 
}
.messages-icon svg {
    fill: rgb(231, 233, 234);
    height: 26.25px;
    width: 26.25px;
}
.messages-title{
    display: block;
    direction: ltr;
    height: 24px;
    line-height: 24px;
    width: 91.925px;
    margin-left: 20px;
    margin-right: 16px;
    text-align: start;
    tab-size: 4;
    color: rgb(231, 233, 234);
    font-size: 20px;
    font-weight: 400;
}
.messages:hover{
    background-color: rgb(24, 24, 24);
    border-radius: 9999px;
}
.grok{
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 50.25px;
    line-height: 22.5px;
    width: 130.533px;
    padding: 12px;
    tab-size: 4;
    cursor: pointer;
}
.grok-icon{
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 26.25px;
    line-height: 22.5px;
    width: 26.25px;
    tab-size: 4; 
}
/* nav-item */
.grok-icon svg {
    fill: rgb(231, 233, 234);
    height: 26.25px;
    width: 26.25px;
}
.grok-title {
    display: block;
    direction: ltr;
    height: 24px;
    line-height: 24px;
    width:44.2833px ;
    margin-left: 20px;
    margin-right: 16px;
    text-align: start;
    tab-size: 4;
    color: rgb(231, 233, 234);
    font-size: 20px;
    font-weight: 400;
}
.grok:hover {
    background-color: rgb(24, 24, 24);
    border-radius: 9999px;
}
.bookmarks{
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 50.25px;
    line-height: 22.5px;
    width: 190.317px;
    padding: 12px;
    tab-size: 4;
    cursor: pointer;
}
.bookmarks-icon svg {
    fill: rgb(231, 233, 234);
    height: 26.25px;
    width: 26.25px;
}
/* nav-item */
.bookmarks-title {
    display: block;
    direction: ltr;
    height: 24px;
    line-height: 24px;
    width:190.317px;
    margin-left: 20px;
    margin-right: 16px;
    text-align: start;
    tab-size: 4;
    color: rgb(231, 233, 234);
    font-size: 20px;
    font-weight: 400;
}
.bookmarks:hover {
    background-color: rgb(24, 24, 24);
    border-radius: 9999px;
}
.communities {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 50.25px;
    line-height: 22.5px;
    width: 209.133px;
    padding: 12px;
    tab-size: 4;
    cursor: pointer;
}
.communities-icon {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 26.25px;
    line-height: 22.5px;
    width: 26.25px;
    tab-size: 4; 
}
.communities-icon svg {
    fill: rgb(231, 233, 234);
    height: 26.25px;
    width: 26.25px;
}
.communities-title {
    display: block;
    direction: ltr;
    height: 24px;
    line-height: 24px;
    width: 122.883px;
    margin-left: 20px;
    margin-right: 16px;
    text-align: start;
    tab-size: 4;
    color: rgb(231, 233, 234);
    font-size: 20px;
    font-weight: 400;
}
.communities:hover {
    background-color: rgb(24, 24, 24);
   border-radius: 9999px;
}
.premium {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 50.25px;
    line-height: 22.5px;
    width: 168.375px;
    padding: 12px;
    tab-size: 4;
    cursor: pointer;
}
.premium-title {
    display: block;
    direction: ltr;
    height: 24px;
    line-height: 24px;
    width: 82.125px;
    margin-left: 20px;
    margin-right: 16px;
    text-align: start;
    tab-size: 4;
    color: rgb(231, 233, 234);
    font-size: 20px;
    font-weight: 400;
}
.premium:hover {
    background-color: rgb(24, 24, 24);
    border-radius: 9999px;
}
.verified-orgs {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 50.25px;
    line-height: 22.5px;
    width:204.433px;
    padding: 12px;
    tab-size: 4;
    cursor: pointer;
}
.verified-orgs-icon {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 26.25px;
    line-height: 22.5px;
    width: 26.25px;
    tab-size: 4; 
}
.verified-orgs-icon svg {
    fill: rgb(231, 233, 234);
    height: 26.25px;
    width: 26.25px;
}
.verified-orgs-title {
    display: block;
    direction: ltr;
    height: 24px;
    line-height: 24px;
    width: 118.183px;
    margin-left: 20px;
    margin-right: 16px;
    text-align: start;
    tab-size: 4;
    white-space: nowrap;
    color: rgb(231, 233, 234);
    font-size: 20px;
    font-weight: 400;
}
.verified-orgs:hover {
    background-color: rgb(24, 24, 24);
    border-radius: 9999px;
}
.profile {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 50.25px;
    line-height: 22.5px;
    width: 145.317px;
    padding: 12px;
    tab-size: 4;
    cursor: pointer;
}
.profile-icon{
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 26.25px;
    line-height: 22.5px;
    width: 26.25px;
    tab-size: 4; 
}
.profile-icon svg {
    fill: rgb(231, 233, 234);
    height: 26.25px;
    width: 26.25px;
}
.profile-title {
    display: block;
    direction: ltr;
    height: 24px;
    line-height: 24px;
    width: 59.0667px;
    margin-left: 20px;
    margin-right: 16px;
    text-align: start;
    tab-size: 4;
    color: rgb(231, 233, 234);
    font-size: 20px;
    font-weight: 400;
}
.profile:hover {
    background-color: rgb(24, 24, 24);
    border-radius: 9999px;
}
.more {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 50.25px;
    line-height: 22.5px;
    width: 133.317px;
    padding: 12px;
    tab-size: 4;
    cursor: pointer;
}
.more-icon{
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 26.25px;
    line-height: 22.5px;
    width: 26.25px;
    tab-size: 4; 
}
.more-icon svg {
    fill: rgb(231, 233, 234);
    height: 26.25px;
    width: 26.25px;
}
.more-title {
    display: block;
    direction: ltr;
    height: 24px;
    line-height: 24px;
    width: 47.0667px;
    margin-left: 20px;
    margin-right: 16px;
    text-align: start;
    tab-size: 4;
    color: rgb(231, 233, 234);
    font-size: 20px;
    font-weight: 400;
}
.more:hover {
    background-color: rgb(24, 24, 24);
    border-radius: 9999px;
}
.home-post-button {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 52px;
    line-height: 22.5px;
    width: 233.1px;
    margin: 4px 0px;
    tab-size: 4;
}
.home-post-btn-light {

    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    background-color: rgb(239, 243, 244);
    color: rgb(15, 20, 25);
    border-radius: 9999px;
    border-top-width: 0.533333px;
    border-bottom-width:0.533333px;
    border-left-width: 0.533333px;
    border-right-width: 0.533333px;
    border: 0.8px 0.8px;
    height: 52px;
    line-height: 20px;
    width: 233.1px;
    font-size: 17px;
    font-weight: 700;
    padding: 0px 32px;
    text-align: center;
}

.home-profile-home-button-area{
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 65px;
    line-height: 22.5px;
    width: 259px;
    margin: 12px 12px;
    tab-size: 4;
    
}
.profile-btn-img {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 65px;
    line-height: 22.5px;
    width:259px;
    padding: 12px;
}
.home-profile-button {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    border-radius: 9999px;
    height: 65px;
    line-height: 22.5px;
    width: 259px;
    /* padding-inline-start: 12px;
    padding-block-end: 12px; */
    text-align: start;
    tab-size: 4;
    
}
.home-profile-button img {
    height: 40px;
    width: 40px;
    border-radius: 9999px;
}
.btn-img-name-x-handle {
    align-items: stretch;
    display:flex;
    flex-basis: auto;
    flex-direction: column;
    font-size: 15px;
    font-weight: 700;
    color: rgb(231, 233, 234);
    height: 41px;
    line-height: 22.5px;
    width: 151.083px;
    margin: 0px 12px;
    text-align: start;
    tab-size: 4;
    white-space: nowrap;
}
.at-me-name {
    color: rgb(113, 118, 123);
    font-size: 15px;
    font-weight: 400;
}
.more-action-dots svg{
    height: 18.75px;
    width: 18.75px;
    fill: rgb(231, 233, 234);
}
.home-profile-button:hover {
    background-color: rgb(24, 24, 24);
    border-radius: 9999px;
}  


button {
    display: flex; 
    margin: 0;
    padding: 0; 
    border: none;
    background: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.home-post-button {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 52px;
    line-height: 22.5px;
    width: 233.1px;
    margin: 4px 0px;
    tab-size: 4;
    position: relative;
}

/* post-tweet-section */
.suggestion-section {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: auto;
    font-size: 15px;
    height:53px ;
    width: 598.4px;
    /* border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54); */
    /* border-right: 1px solid rgb(47, 51, 54); */
    border-bottom: 1px solid rgb(47, 51, 54);
    cursor: pointer;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    backdrop-filter: drop-shadow(15px);
    tab-size: 4;
}
.for-you {
    display: flex;
    flex-direction: column;
    height: 53px;
    width: 292.1px;
    color: rgb(113, 118, 123);
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
    font-weight: 700;
    font-size: 15px;
    tab-size: 4;
}

.for-you:hover{
    background-color: rgb(24, 24, 24);
    height: 52px;
} 
.for-you span:hover {
    color:rgb(231, 233, 234);
    text-decoration: underline;
    text-decoration-color:rgb(29, 155, 240);
    text-decoration-style:9999px solid;
    text-decoration-thickness:3.99375px;
    text-underline-offset: 15px;
}
.following {
    display: flex;
    flex-direction: column;
    height: 53px;
    width:306.3px ;
    color: rgb(113, 118, 123);
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
    font-size: 15px;
    font-weight: 500;
   
}
.following:hover {
    background-color: rgb(24, 24, 24);
    height: 52px;
    

}
.following span:hover{
    color:rgb(231, 233, 234);
    text-decoration: underline;
    text-underline-position: inherit;
    text-decoration-color: rgb(29, 155, 240);
    text-decoration-style:solid;
    text-decoration-thickness:3.99375px;
    text-underline-offset: 15px;
}
.tweet-section {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    font-size: 15px;
    height: 120.525px;
    line-height: 22.5px;
    width: 598.4px;
    padding: 0px 16px;
    border-bottom: 1px solid rgb(47, 51, 54); 
    position: relative;
    margin-top: 53px;
    tab-size: 4;
    
}
.profile-picture-section {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 116px;
    padding-top: 12px;
    margin-right: 8px;
}

.profile-picture-section img {
    height: 40px;
    width: 40px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
.text-area-layout {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 119.992px;
    line-height: 22.5px;
    width: 518.4px;
    padding-top: 4px;
    tab-size: 4;
}
.text-x-tweet {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height:50.5px;
    line-height: 22.5px;
    width: 518.4px;
    position: relative;
    padding: 12px 0px;
    tab-size: 4;
}
.text-x-tweet input {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    color: rgb(113, 118, 123);
    border: 0px solid;
    padding: 2px;
    outline: none;
    caret-color: rgb(231, 233, 234);
}
.text-x-tweet input textarea:focus, input:focus {
    color: rgb(231, 233, 234);
}
.reaction-section-layout {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 44px;
    line-height: 22.5px;
    padding-bottom: 8px;
    margin-top: 8px;
    justify-content: space-between; 
}
.reactive-area {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    padding: 2px;
    height:36px;
    width: 252px;
}
.media {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 36px;
    width: 36px;
    text-align: start;
    tab-size: 4;
    cursor: pointer;
    padding:8px;
    margin: -8px;
    justify-content: center;
   
}
.media:hover {
    background-color: rgb(3, 16, 24);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px ;
    border-bottom-left-radius: 9999px ;
    border-bottom-right-radius: 9999px;
}
.media svg {
    height: 20px;
    width: 20px;
}
.gif {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 36px;
    width: 36px;
    text-align: start;
    tab-size: 4;
    cursor: pointer;
    padding:8px;
    margin: -8px;
}
.gif:hover {
    background-color: rgb(3, 16, 24);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
.gif svg {
    height: 20px;
    width: 20px;
    
}
.grok-post {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 36px;
    width: 36px; 
    cursor: pointer;
    padding:8px;
    margin: -8px;
}
.grok-post:hover {
    background-color: rgb(3, 16, 24);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px ;
    border-bottom-left-radius: 9999px ;
    border-bottom-right-radius: 9999px; 
}
.grok-post svg {
    height: 20px;
    width: 20px;
    
}
.poll {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 36px;
    width: 36px;
    cursor: pointer;
    padding:8px;
    margin: -8px;
   
}
.poll:hover {
    background-color: rgb(3, 16, 24);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px; 
}
.poll svg {
    height: 20px;
    width: 20px;
}
.smiling-emoji {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 36px;
    width: 36px;
    cursor: pointer;
    padding:8px;
    margin: -8px;
}

.smiling-emoji svg {
    fill: rgb(29, 155, 240);
    height: 20px;
    width: 20px;
}
.smiling-emoji:hover {
    background-color: rgb(3, 16, 24);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px; 
}

.schedule {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 36px;
    width: 36px;
    cursor: pointer;
    padding:8px;
    margin: -8px;
    
}
.schedule:hover {
    background-color: rgb(3, 16, 24);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
.schedule svg {
    height: 20px;
    width: 20px;
}
.location{
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 36px;
    width: 36px; 
    cursor: pointer;
    padding:8px;
    margin: -8px;
}
.location svg {
    height: 20px;
    width: 20px;
}
.post-tweet-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    flex-direction: row;
    height: 36px;
    line-height: 22.5px;
    width: 78.5139px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.post-tweet-btn-light {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 700;
    height: 36px;
    width: 66.3313px;
    margin-left: 12px;
    padding: 0 16px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    text-align: start;
    margin-left: 12px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-width: 0.888889px;
    border-bottom-width:0.888889px;
    border-left-width: 0.888889px;
    border-right-width:0.888889px;
    color: rgb(0, 0, 0);
    background-color: rgb(120, 122, 122);
} 
.timeline-tweet-area-one{
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 513.5px;
    line-height: 24px;
    width: 598.4px;
    margin-top: 12px;
    padding: 0 16px;
    tab-size: 4;
    cursor: pointer; 
    border-bottom: 1px solid rgb(47, 51, 54);
}
.article-area-one {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height:513.5px;
    line-height: 24px;
    width: 518.4px;
    padding-bottom: 12px;
    text-align: left;
    tab-size: 4;
}
.dp-area {
    display: flex;
    align-items: center;
    flex-basis: 40px;
    flex-direction: column;
    height: 494.695px;
    width: 40px;
    margin-right: 8px;
    flex-basis: 40px;
}
.dp-area img {
    display:flex;
    flex-direction: column;
    line-height: 22px;
    height: 40px;
    width: 40px;
    border-radius: 9999px;
    
}
.nm-top-detail-section {
    align-items: start;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 22px;
    line-height: 22.5px;
    height: 22px;
    width: 518.4px;
    margin-bottom: 2px;
    tab-size: 4;
    justify-content: space-between;
}
.nm-top-detail-section-block-one {
    display: flex;
    flex-direction: row;
    height: 22px;
    line-height: 22.5px;
    width: 399.342px;
    justify-content: space-between;
}
.verified-account {
    display: block;
    height: 23px;
    line-height: 20px;
    width: 21.25px;
}
.verified-account svg {
    fill: rgb(29, 155, 240);
    height: 18.75px;
    width: 18.75px;
    margin-left: 2.5px;
}
.x-badge-profile {
    align-items: stretch;
    display: block;
    flex-basis: auto;
    flex-direction: column;
    height: 15.9375px;
    width:15.9375px;
    line-height: 20px;
    margin-left: 4px;
    margin-right: 2px;
   
}
.x-badge-profile img {
    height: 15.9333px;
    width:15.9333px;
    border-radius: 2px;
    border-top: 1px solid rgb(51, 54, 57);
    border-bottom: 1px solid rgb(51, 54, 57);
    border-left: 1px solid rgb(51, 54, 57) ;
    border-right: 1px solid rgb(51, 54, 57);
}

.name {
    display: flex;
    direction: ltr;
    color: rgb(231, 233, 234);
    height: 20px;
    width: 161.469px;
    /* width: 161px; */
    line-height: 20px;
    text-align: start;
    font-weight: 700;
    white-space: nowrap;
}
.name:hover {
    text-decoration: underline;
}


.handle {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    font-size: 15px;
    width: 96px;
    margin-left:2.5px;
    color:rgb(113, 118, 123);
    font-size: 15px;
    font-weight: 400;
}
.dot {
    display: block;
    direction: ltr;
    color:rgb(113, 118, 123);
    height: 20px;
    line-height: 20px;
    width: 8px;
    padding: 2px 4px;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    bottom: 0px;
    font-weight: 400;
}
.time {
    display: block;
    height: 22px;
    width: 87.17px;
    white-space: nowrap;
    margin-left: 2px;
    color:rgb(113, 118, 123);
    font-size: 15px;
    font-weight: 400;  
}
.select-options{
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 20px;
    line-height: 20px;
    width: 45.5px;
    justify-content: space-between;
    column-gap: 8px;
}
.grok-select {
    display: flex;
    align-items: stretch;
    height: 34.7437px;
    width:34.7437px;
    padding: 8px;
    margin: -8px;
}
.grok-select svg:hover path {
    fill: rgb(29, 155, 240);
} 
.grok-select:hover {
    background-color:rgb(10, 23, 31);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
.more-select {
    display: flex;
    align-items: stretch;
    height: 34.7437px;
    width:34.7437px;
    padding: 8px;
    margin: -8px;  
}
.more-select:hover {
    background-color:rgb(10, 23, 31);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px ;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
.more-select svg:hover path{
    fill: rgb(29, 155, 240);
}

.caption {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 22.5px;
    line-height: 22.5px;
    width: 480.642px;
    tab-size: 4;
    white-space: nowrap;
    color: rgb(231, 233, 234);
    font-size: 15px;
}
.image-post {
    align-items: stretch;
    display: block;
    flex-basis: auto;
    flex-direction: column;
    height: 411px;
    width: 518px;
    column-gap: 4px;
    margin-top: 12px;
}
.image-post img {
    display: inline;
    height: 410px;
    width: 410px;
    border-radius: 16px;
    border-top: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
    border-left: 1px solid rgb(47, 51, 54) ;
    border-right: 1px solid rgb(47, 51, 54);  
}
.feed-reactions {
    align-items: stretch;
    display: flex; 
    flex-direction: row;
    flex-basis: auto;
    height: 20px;
    line-height:22.5px;
    width:  518.4px;
    column-gap: 4px;
    margin-top: 12px;
   justify-content: space-between;
}
.reply {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 113.125px; 
}
.reply-symbol{
    display: flex;
    align-items: stretch;
    height: 34.7437px;
    width:34.7437px;
    padding: 8px;
    margin: -8px; 
}

.reply svg {
    fill:rgb(113, 118, 123);
    height: 18.75px;
    width: 18.75px;
}
.reply-symbol:hover{
    background-color: rgb(10, 23, 31);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    
}
.reply svg:hover {
    /* fill: rgb(17, 76, 114); */
    fill: rgb(29, 155, 240);
}
.reply span:hover {
    color: rgb(29, 155, 240);
}
.number-of-replies {
    display: inline-flex;
    color: rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: start;
    padding: 0px 4px;
}

.repost {
    display: flex;
    height: 20px;
    justify-content: flex-start;
    line-height: 22.5px;
    width: 113.125px;
}
.repost-symbol {
    display: flex;
    align-items: stretch;
    height: 34.7437px;
    width:34.7437px;
    padding: 8px;
    margin: -8px; 
}
.repost-symbol svg {
    fill: rgb(113, 118, 123);
    height: 18.75px;
    width: 18.75px;
}
.repost-symbol:hover{
    background-color: rgb(7, 26, 20);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.repost svg:hover {
    fill: rgb(0, 186, 124);
}
.number-of-reposts {
    display: inline-flex;
    color: rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: start;
    padding:0px 4px;
}
.repost span:hover {
    color: rgb(0, 186, 124);
}

.likes {
    display: flex;
    height: 20px;
    line-height: 22.5px;
    width: 113.125px;
}
.likes-symbol {
    display: flex;
    align-items: stretch;
    height: 34.7437px;
    width:34.7437px;
    padding: 8px;
    margin: -8px;  
}
.likes-symbol:hover{
    background-color: rgb(32, 9, 20);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
.likes svg {
    fill: rgb(113, 118, 123);
    height: 18.75px;
    width: 18.75px;
}
.likes-symbol svg:hover {
    fill: rgb(249, 24, 128);
}
.number-of-likes {
    display: inline-flex;
    color: rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: start;
    padding: 0px 4px;
}
.likes span:hover {
    color:rgb(249, 24, 128)
}
.views {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 20px;
    line-height: 22.5px;
    width: 113.125px;
}
.views svg {
    display: inline-flex;
    height: 18.75px;
    width: 18.75px;
    line-height: 20px;
    fill: rgb(113, 118, 123);
    text-align: start;
}
.views-symbol {
    display: flex;
    align-items: stretch;
    height: 34.7437px;
    width:34.7437px;
    padding: 8px;
    margin: -8px; 
}
.views-symbol:hover {
    background-color: rgb(10, 23, 31);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
.views-symbol svg:hover {
    fill: rgb(29, 155, 240);
}
.number-of-views {
    display: inline-flex;
    color: rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: start;
    padding: 0px 4px; 
}
.views span:hover {
    color: rgb(29, 155, 240);
}

.select-options-two {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: stretch;
    height: 20px;
    line-height: 20px;
    width: 49.4833px;
    justify-content: space-between;
    column-gap: 12px;
}
.bookmark {
    display: flex;
    align-items: stretch;
    height: 34.7437px;
    width:34.7437px;
    padding: 8px;
    margin: -8px; 
    justify-content: flex-start;
}
.bookmark:hover {
    background-color: rgb(10, 23, 31);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;

}

.bookmark svg {
    fill: rgb(113, 118, 123);
    height: 18.75px;
    width: 18.75px;
}
.bookmark svg:hover path {
    fill: rgb(29, 155, 240);
}
.share {
    display: flex;
    align-items: stretch;
    height: 34.7437px;
    width:34.7437px;
    padding: 8px;
    margin: -8px;  
}

.share:hover {
    background-color: rgb(10, 23, 31);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.share svg {
    fill: rgb(113, 118, 123);
    height: 18.75px;
    width: 18.75px;
}
.share svg:hover path {
    fill: rgb(29, 155, 240);
}
.timeline-tweet-area-two{
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height:533.025px;
    line-height: 24px;
    width: 598.4px;
    margin-top: 12px;
    cursor: pointer;
    border-bottom: 1px solid rgb(47, 51, 54);
    padding: 0 16px;
}

.article-area-two {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 532.492px;
    line-height: 24px;
    width: 518.4px;
    padding-bottom: 12px;
    text-align: left;
    
}

.caption-two {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height:22.5px;
    line-height: 22.5px;
    width: 256.442px;
    tab-size: 4;
    white-space: nowrap;
    color: rgb(231, 233, 234);
    font-size: 15px;
}

.image-post-two {
    align-items: stretch;
    display: block;
    height: 430px;
    width: 518px;
    flex-basis: auto;
    flex-direction: column;
    column-gap: 4px;
    margin-top: 12px;
}
.image-post-two img {
    display: inline;
    height: 430px;
    width: 400px;
    border-radius: 16px;
    border-top: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
    border-left: 1px solid rgb(47, 51, 54) ;
    border-right: 1px solid rgb(47, 51, 54);  
}

.timeline-tweet-area-three {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 554px;
    line-height: 24px;
    width: 598.4px;
    margin-top: 12px;
    border-bottom: 1px solid rgb(47, 51, 54);
    cursor: pointer;
    padding: 0 16px;
}
.article-area-three {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height:554px;
    line-height: 24px;
    width: 518.4px;
    padding-bottom: 12px;
}
.caption-three {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height:22.5px;
    line-height: 22.5px;
    color: rgb(231, 233, 234);
    font-size: 15px;
}
.image-post-three {
    align-items: stretch;
    display: block;
    height: 450px;
    width: 518px;
    flex-basis: auto;
    flex-direction: column;
    column-gap: 4px;
    margin-top: 12px;
}
.image-post-three img {
    display: inline;
    height: 450px;
    width: 400px;
    border-radius: 16px;
    border-top: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
    border-left: 1px solid rgb(47, 51, 54) ;
    border-right: 1px solid rgb(47, 51, 54);  
}
.timeline-tweet-area-four {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 515px;
    line-height: 24px;
    width: 598.4px;
    margin-top: 12px;
    tab-size: 4;
    cursor: pointer;
    border-bottom: 1px solid rgb(47, 51, 54);
    padding: 0 16px;
}

.article-area-four {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 494.692px;
    line-height: 24px;
    width: 518.4px;
    padding-bottom: 12px;
}
.caption-four {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 22.5px;
    line-height: 22.5px;
    width:518.4px;
    tab-size: 4; 
    color: rgb(231, 233, 234);
    font-size: 15px
}
.image-post-four {
    align-items: stretch;
    display: block;
    height: height 400px;
    line-height: 24px;
    flex-basis: auto;
    flex-direction: column;
    column-gap: 4px;
    margin-top: 12px;
}
.image-post-four img {
    display: inline;
    height: 400px;
    width: 450px;
    border-radius: 16px;
    border-top: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
    border-left: 1px solid rgb(47, 51, 54) ;
    border-right: 1px solid rgb(47, 51, 54);  
}

/* trending-section */
.search-bar {
    display: flex;
    flex-direction: row;
    flex-basis: 0%;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    height: 40px;
    width: 348.933px;
    margin-bottom: 16px;
}
.search {
    display: flex;
    height: 40px;
    width: 348.933px;
    /* width: 319.867px; */
    line-height: 16px;
    font-weight: 400;
    text-align: left;
    border-radius: 20px;
    border: 1px solid  rgb(47, 51, 54);
     
}

.search input {
    height: 40px;
    width: 319.867px;
    background-color:transparent;
    caret-color: rgb(29, 155, 240);
    border: none;
    outline: none;
    padding-left: 4px;
    padding-right: 16px;
    background-color:transparent;
    padding-inline-start: 4px;
    padding-inline-end: 16px;
    border: none;
    outline: none;
}
.search input::placeholder {
    color: rgb(231, 233, 234);
} 
.search:hover{
    border-color: rgb(30, 155, 240);
    outline: outset;
    outline-color: rgb(29, 155, 240);
    -webkit-transition: 0.5s; 
}
.search-icon {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    width: 28px;
    position: relative;
}
.search-icon svg {
    height: 16px;
    width: 28px;
    fill: rgb(113, 118, 123);
    vertical-align: text-bottom;
    padding-left: 12px;
}
.premuim-subscription {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 149.067px;
    line-height: 22.5px;
    width: 350px;
    border-radius: 16px;
    border: 1px solid rgb(47, 51, 54);
    padding: 12px 16px;
    column-gap: 12px;
    row-gap: 12px;
    margin-bottom: 16px;
}
.subscription-heading {
    display: block;
    direction: ltr;
    color: rgb(231, 233, 234);
    font-size: 20px;
    font-weight: 800;
    height: 24px;
    width:219.102px;
    line-height: 24px;
    tab-size: 4;
    text-align: start; 
}
.subsciption-benefits {
    direction: ltr;
    display: block;
    height: 40px;
    line-height: 20px;
    width: 316.4px;
    text-align: start;
    color: rgb(231, 233, 234);
    font-size: 15px;
    font-weight: 400;
}
.premuim-sign-up {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    min-height: 36px;
    width: 105.917px;
    line-height: 22.5px;
}

.premuim-sign-up .btn-light {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 36px;
    line-height:22.5px;
    width: 106.859px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(29, 155, 240);
    color: rgb(255, 255, 255);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-width: 1px solid;
    border-bottom-width: 1px solid;
    border-left-width: 1px sold;
    border-right-width: 1px solid;
    padding: 0px 16px;
    tab-size: 4;   
}
.premuim-sign-up .btn-light:hover {
    background-color: rgb(29, 155, 240);
    color: rgb(231, 233, 234);
}
.trending-timeline {
   align-items: start;
   display: flex; 
   flex-basis: auto;
   flex-direction: column;
   height: 604.65px;
   line-height: 22.5px;
   width: 350px;
   border-radius: 16px;
   border: 1px solid rgb(47, 51, 54);
   tab-size: 4;
   margin-bottom: 16px;
}

.whats-happening {
    align-self: stretch;
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 48px;
    width: 348px;
    line-height: 22.5px;
    padding: 12px 16px;
}

.live-tab {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    font-size: 15px;
    line-height: 22.5px;
    height: 120px;
    width: 348px;
    tab-size: 4;
    padding: 12px 16px;
    cursor: pointer; 
}
.live-tab:hover {
    background-color: rgb(8, 8, 8);
    /* background-color: rgb(22, 24, 28); */
}
.live-hilight {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 79px;
    width:79px;
    line-height:22.5px;
    tab-size: 4;
} 
.live-hilight img {
    height:79.2333px ;
    /* height: 79px; */
    line-height:22.5px ;
    width: 79.2333px;
    /* width: 79px; */
    border-radius: 16px;
}
.live-details {
    align-items: stretch;
    display: flex;
    height: 79.1px;
    /* height: 95px; */
    line-height: 22.5px;
    width:225.3px;
    font-size: 15px;
    flex-basis: 0%;
    flex-direction:column;
    padding: 4px 16px;
}
.live-title {
    display: block;
    color: rgb(255, 255, 255);
    height:40px;
    width: 225px;
    line-height: 20px;
    direction: ltr;
    margin: 2px;
    text-align: start;
    font-size: 15px;
    font-weight: 700;
}
.live-status {
    height: 17px;
    width:26.2656px;
    display: block;
    direction: ltr;
    color: rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.galaxy {
    align-items: stretch;
    height:117.5px;
    line-height: 22.5px;
    width: 348px;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    padding: 12px 16px;
    tab-size: 4;
    cursor: pointer;    
}
.galaxy:hover {
    background-color: rgb(8, 8, 8);
    /* background-color: rgb(22, 24, 28); */
}
.galaxy-a-series {
    align-items: stretch; 
    display: flex;
    flex-direction: row;
    height: 22.5px;
    width: 316px;
    text-align: start;
    tab-size: 4;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    position: relative;
    justify-content: space-between;
}

.extra-features {
    display: block;
    height: 45px;
    width: 316px;
    margin-top: 2px;
    text-align: start;
    color: rgb(113, 118, 123);
    font-weight: 400;
    font-size: 15px;
}
.promoted-by {
    display: block;
    direction: ltr;
    height: 20px;
    line-height: 20px;
    width: 316px;
    margin-top: 4px;
    text-align: start;
    color: rgb(113, 118, 123);
    font-weight: 400;
    font-size: 15px;
}
.promoted-by svg {
    margin-right: 4px;
    /* line-height: 16px; */
    /* margin-bottom: 4px; */
}
.chris-excel {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 94.9875px;
    /* height:88.4812px; */
    /* height: 86px; */
    line-height: 22.5px;
    width: 348px;
    padding: 12px 16px;
    tab-size: 4;
    cursor: pointer;
   
}
.chris-trending {
    align-items: stretch;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    line-height: 22.5px;
    height: 22.5px;
    width: 316px;
    text-align: start;
    tab-size: 4;
    color: rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400;
}
.chris-headline {
    height: 20px;
    width: 316px;
    margin-top: 2px;
    color:rgb(231, 233, 234);
    font-size: 15px;
    font-weight: 700;
}
.chris-excel:hover {
    background-color: rgb(8, 8, 8);
    /* background-color: rgb(22, 24, 28); */
}
.chris-posts {
    display: flex;
    direction: ltr;
    height: 22.5px;
    /* height: 16px; */
    line-height: 22.5px;
    /* line-height: 16px; */
    width: 316px;
    margin-top: 4px;
    text-align: start;
    tab-size: 4;
    color: rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400;
}
.skeem-saam {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 71px;
    /* height: 82px; */
    line-height: 22.5px;
    width: 348px;
    /* position: relative;
    bottom: 35px; */
    padding: 12px 16px;
    cursor: pointer;
}
.skeem-saam:hover {
    background-color: rgb(8, 8, 8);
    /* background-color: rgb(22, 24, 28); */
}
.skeem-saam-trending {
    align-items: stretch;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 22.5px;
    /* display: block;
    direction: ltr; */
    /* height: 21px; */
    width: 316px;
    text-align: start;
    tab-size: 4;
    color: rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400;
}
.skeem-saam-headline {
    display: block;
    direction: ltr;
    height: 22.5px;
    line-height: 22.5px;
    width: 316px;
    margin-top: 2px;
    tab-size: 4;
    color: rgb(231, 233, 234);
    font-size: 15px;
    font-weight: 700;
}
.what-a-game {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 97.4906px;
    /* height: 82px; */
    line-height: 22.5px;
    width: 348px;
    padding: 12px 16px;
    cursor: pointer;
    
}
.what-a-game:hover {
    background-color: rgb(8, 8, 8);
    /* background-color: rgb(22, 24, 28); */
}

.what-a-game-trending {
    align-items: stretch;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 22.5px;
    line-height: 22.5px;
    /* display: block;
    direction: ltr; */
    /* height: 16px;
    line-height: 16px; */
    width: 316px;
    text-align: start;
    tab-size: 4;
    color: rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400;
}
.what-a-game-headline {
    display: block;
    direction: ltr;
    height: 22.5px;
    line-height: 22.5px;
    /* height: 20px;
    line-height: 20px; */
    width: 316px;
    margin-top: 2px;
    tab-size: 4;
    color: rgb(231, 233, 234);
    font-size: 15px;
    font-weight: 700;
}
.what-a-game-posts {
    display: block;
    direction: ltr;
    height: 22.5px;
    line-height: 22.5px;
    /* height: 18px;
    line-height: 16px; */
    width: 316px;
    margin-top: 4px;
    text-align: start;
    tab-size: 4;
    color: rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400px;
   
}

.trending-show-more {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height:54.4875px;
    line-height: 22.5px;
    width: 348.4px;
    padding: 16px 16px;
    tab-size: 4;
    cursor: pointer;
}
.trending-show-more span {
    color: rgb(29, 155, 240);
    font-size: 15px;
    font-weight: 400;
    text-align: start;
}
.trending-show-more:hover {
    /* background-color: rgb(22, 24, 28); */
    background-color: rgb(8, 8, 8);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.who-to-follow-on-x {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height:296.842px ;
    line-height: 22.5px;
    width: 350px;
    border-radius: 16px;
    border: 1px solid rgb(47, 51, 54);
    margin-bottom: 16px;
}
.who-to-follow-headline{
    align-items: stretch;
    display: inline-flex;
    flex-basis: auto;
    flex-direction: column;
    height: 48px;
    line-height: 22.5px;
    width:  348.4px;
    padding: 12px 16px;
    tab-size: 4;
    color: rgb(231, 233, 234);
    font-size: 20px;
    font-weight: 800;
}
.zaio-x-account {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 65.2625px;
    line-height: 22.5px;
    width:348.4px;
    padding: 12px 16px;
    cursor: pointer;
    
}
.zaio-x-account:hover {
    background-color: rgb(8, 8, 8);
}
.zaio-dp-area {
    align-items: stretch;
    display: flex;
    flex-basis: 40px;
    flex-direction: column;
    height: 41.2625px;
    line-height: 22.5px;
    width:40px;
    margin-right: 8px;
    justify-content: center;
    tab-size: 4;
}
.zaio-dp-area img {
    height: 40px;
    width: 40px;
    border-radius: 9999px;
}
.zaio-x-details {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 41.2583px;
    width: 178.416px;
}
.zaio-top-detail-section {
    display: flex;
    flex-direction: row;
    height: 23px;
    line-height: 22.5px;
}
.zaio-id-name {
    display: inline-block;
    height: 21px;
    line-height: 22.5px;
    /* height: 23px; */
    width: 157.158px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    color: rgb(231, 233, 234);
    font-size: 15px;
    font-weight: 700;
}
.zaio-id-name:hover {
    text-decoration: underline;
}
.zaio-x-handle {
    display: block;
    height: 22.5px;
    line-height: 22.5px;
    width:178.4px;
    color: rgb(113, 118, 123);
    font-size: 15px;
    font-weight: 400;
}
.follow-button {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 32px;
    line-height: 22,5px;
    width: 78px;
    max-width: 78px;
    margin-top: 4px;
    margin-left: 12px;
}
.follow-button .btn-light {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
    background-color: rgb(239, 243, 244);
    height: 32px;
    width: 78px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-width: 0.8px solid;
    border-right-width: 0.8px solid;
    border-bottom-width: 0.8px solid;
    padding-inline-start:16px;
    padding-inline-end: 16px;
    padding: 0px 16px;
}
.woolworths-x-account {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 65.2625px;
    line-height: 22.5px;
    width:348.4px;
    padding: 12px 16px;
    cursor: pointer; 
}
.woolworths-x-account:hover {
    background-color: rgb(8, 8, 8);
}
.woolworths-dp-area {
    align-items: stretch;
    display: flex;
    flex-basis: 40px;
    flex-direction: column;
    height: 41.2625px;
    line-height: 22.5px;
    width:40px;
    margin-right: 8px;
    justify-content: center;
    tab-size: 4;
}
.woolworths-dp-area img {
    height: 40px;
    width: 40px;
    border-radius: 9999px; 
}
.woolworths-x-details {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height:41.2583px;
    width: 178.416px;
}
.woolworths-top-detail-section {
    display: flex;
    height:20.625px;
    /* height:23.0333px; */
    line-height: 22.5px; 
    width:178.4px;
    flex-direction: row;
}
.woolworths-id-name {
    height: 19.73px;
    width: 102.28px;
    color: rgb(231, 233, 234);
    font-size: 15px;
    font-weight: 700;
}
.woolworths-id-name:hover {
    text-decoration: underline;
}
.verified-org-account {
    display: inline;
    height: 21.33px;
    line-height: 22.5px;
    width: 20.75px;
}
.verified-org-account svg {
    height: 18.75px;
    width: 18.75px;
    margin-left: 2px;
}
.woolworths-x-handle {
    height:20.625px ;
    color: rgb(113, 118, 123);
    font-size: 15px;
    font-weight: 400;
}
.galxboy-x-account {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 65.2625px;
    line-height: 22.5px;
    width:348.4px;
    padding: 12px 16px;
    cursor: pointer;
}
.galxboy-x-account:hover {
    background-color: rgb(8, 8, 8)
}
.galxboy-dp-area {
    align-items: stretch;
    display: flex;
    flex-basis: 40px;
    flex-direction: column;
    height: 41.2625px;
    line-height: 22.5px;
    width:40px;
    margin-right: 8px;
    justify-content: center;
    tab-size: 4;
}
.galxboy-dp-area img {
    height: 40px;
    width: 40px;
    border-radius: 9999px;
  
}
.galxboy-x-details {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 41.5625px;
    line-height: 22.5px;
    width: 249.733px;
    justify-content: space-between;
}
.galxboy-top-detail-section {
    display: flex;
    flex-direction: row;
    height: 21px;
    width:106.042px;
}
.galxboy-id-name {
    align-items: center;
    display: flex;
    direction: ltr;
    height: 21.2625px;
    line-height: 20px;
    width:85.2917px;
    color: rgb(231, 233, 234);
    font-size: 15px;
    font-weight: 700; 
}
.galxboy-id-name:hover {
    text-decoration: underline;
}
.galxboy-x-handle{
    color: rgb(113, 118, 123);
    font-size: 15px;
    font-weight: 400;
}
.wtf-show-more {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 52px;
    line-height: 22.5px;
    width:  348.4px;
    padding: 16px 16px;
    tab-size: 4;
    color: rgb(29, 155, 240);
    font-size: 15px;
    font-weight: 400;
    text-align: start;
    cursor: pointer;
}
.wtf-show-more:hover {
    background-color: rgb(8, 8, 8);
    /* background-color: rgb(22, 24, 28); */
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.footer-section {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 44px;
    line-height: 22.5px;
    width: 350px;
    tab-size: 4;
    /* padding: 0px 16px; */
    margin-bottom: 16px;
}
.top-footer{
    align-items: stretch;
    display: inline-flex;
    flex-basis: auto;
    flex-direction: row;
    height: 22px;
    /* height: 48px; */
    line-height: 22.5px;
    /* width: 450px; */
    width: 350px;
    tab-size: 4;
    padding: 0px 16px;
}
.terms-of-service{
    align-items: center;
    align-self: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 20px;
    line-height: 22.5px;
    width: 106.283px;
    /* width: 150px; */
    padding-right: 12px;
    margin: 2px 0px;
    tab-size: 4;
    white-space: nowrap;
    cursor: pointer;
    color: rgb(113, 118, 123);
    font-size: 11px;
    font-weight: 400;
}
.terms-of-service:hover{
    text-decoration: underline;
    text-decoration-color: rgb(113, 118, 123);
}
.verticle-bar {
    display: block;
    direction: ltr;
    color: rgb(113, 118, 123);
    padding-left: 4px;
    height: 20px;
    line-height: 20px;
    width: 10.9062px;
    text-align: start;
    tab-size: 4;
    margin:0px 8px;
}
.privacy-policy {
    align-items: center;
    align-self: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 20px;
    line-height: 22.5px;
    width: 92.1417px;
    /* width:  130px; */
    padding-right: 12px;
    margin: 2px 0px;
    tab-size: 4;
    white-space: nowrap;
    cursor: pointer;
    color: rgb(113, 118, 123);
    font-size: 11px;
    font-weight: 400;
}
.privacy-policy:hover {
    text-decoration: underline;
    text-decoration-color: rgb(113, 118, 123);
}
.cookie-policy {
    align-items: center;
    align-self: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 20px;
    line-height: 22.5px;
    width: 90.9833px;
    /* width: 124.734px; */
    padding-right: 12px;
    margin: 2px 0px;
    tab-size: 4;
    white-space: nowrap;
    cursor: pointer;
    color: rgb(113, 118, 123);
    font-size: 11px;
    font-weight: 400;
}
.cookie-policy:hover {
    text-decoration: underline;
    text-decoration-color: rgb(113, 118, 123);
}
.bottom-footer {
    display: flex;
    height: 22px;
    /* height: 30px; */
    padding: 0px 16px;
    flex-direction: row;
    width: 350px;
    
}
.more-x {
    align-items: stretch;
    align-self: center;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    height: 16px;
    line-height: 22.5px;
    width: 59.5938px;
    margin: 2px 0px;
    padding-inline-end: 12px;
    padding-right: 12px;
    text-align: start;
    tab-size: 4;
    cursor: pointer;
    color: rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400;
}
.more-x:hover {
    text-decoration: underline;
}
.more-x-symbol {
    height: 13px;
    line-height: 16px;
    width: 17px;
    
}
.more-x-symbol svg {
    margin: 7px 0px;
    padding: 0px 2px;
}
.copy-right {
    align-self: center;
    display: block;
    direction: row;
    height: 12px;
    line-height: 12px;
    width: 163.142px;
    /* width: 90.2375px; */
    padding-right: 12px;
    padding-top: 4px;
    margin: 2px 0px;
    text-align: start;
    tab-size: 4px;
    white-space: nowrap;  
    color: rgb(113, 118, 123);
    font-size: 11px;
    font-weight: 400;
}
.grok-drawer {
    align-items: stretch;
    align-self: flex-end;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    height: 57px;
    line-height: 22.5px;
    width: 400px;
    margin-right: 20px;
    margin-bottom: 12px;
}
.grok-location {
    display: flex;
    height: 55px;
    width:53.9333px;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    border-radius:16px;
    border: 1px solid rgb(66, 69, 72);
}
.grok-location svg {
    fill: rgb(255, 255, 255);
    height: 32px;
    width:32px;
    line-height: 22.5px;
}
.grok-location:hover {
    background-color: rgb(3, 16, 24);
}